<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" href="/images/icon.png" type="image/gif" sizes="32*32">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/book.css">
    
</head>
<body>
 
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <nav class="navbar navbar-light bg-dark navbar-dark">
                <a class="navbar-brand" href="">
                <img src="/images/icon.png" width="40" height="40"class="d-inline-block align-top"alt="">LIBRARY MANAGEMENT</a>
        </nav>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
          <div id="navbar" class="container-fluid">
            <div class="container nav-fill w-100">
          
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarContent">
                  <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                      <a class="nav-link active" href="/home" role="button" class="btn btn-default">Home</a>
                  </li>
                    <%for(i=0;i<nav2.length;i++){%>
                     
                     <li class="nav-item">
                        <a class="nav-link" href="<%=nav2[i].link%>" role="button" class="btn btn-default"><%=nav2[i].name%></a>
                     </li>
                    <%}%>    
               </ul>
             </div>
          </div>
      </div>
      </nav> 

      <div class="container">
        <h1>BOOK</h1>
      </div>
      <div class="container">
          <div class="mycard">
        <div class="card mb-12" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img src="/images/<%=book.image%>" class="card-img rounded-circle"width="600%"height="100%" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%=book.title%></h5>
                <p class="card-text"><%=book.description%></p>
                <a href="/updateBook/<%=book._id%>" class="btn btn-primary">Update</a>
              <a href="/deleteBook"class="btn btn-primary">Delete</a> 
              </div>
            </div>
          
       </div>
            </div>
        </div>
      </div>
      
      <div class="container-fluid"> <br><br><br>
        <div class="footer" style="background-color:rgb(8, 4, 70); padding-top:7px; padding-bottom:6px;">
          <i class="fa fa-3x fa-instagram" href="https://www.instagram.com/msroholahi/";></i>
          <i class="fa fa-3x fa-twitter" href="https://twitter.com/MSRoholahi";></i>
          <i class="fa fa-3x fa-linkedin " href="https://www.linkedin.com/company/esperlos";></i>
        <i class="fa fa-3x fa-github" style="font-size:px" href="https://github.com";> </i> 
        <i class="fa fa-3x fa-wordpress" style="font-size:px" href="http://wordpress.org";> </i>
        <i class="fa fa-3x fa-telegram" style="font-size:px" href="https://telegram.me/MSR72";> </i>
          <h6 style="font-size: 15px";>Case Study-Library App© 2020<a href="http://programmerscamp.ir"></a></h6>
      
        </div>
       </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>       
      <script src="/js/bootstrap.min.js"></script> 
</body>
</html>
